.BlocoDeCartoes{
  margin: 10px;
}
.CardMonitoramento{
  margin: 10px;
}
.bota{
  display: block;
  float: right;
  
}
.bota2{
  display: block;
  float: right;
  
}
.deckOpen{
  margin: 2%;

}
div.card-body{
  
}